{% set project = load_lua(path="config/project.lua") -%}
{% set personal = load_lua(path="config/personal.lua") -%}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{ project.DESCRIPTION_SHORT }}</title>
		<link rel="shortcut icon" href="../static/favicon.ico"/>
		<meta name="Description" content="{{ project.DESCRIPTION_LONG }}"/>
		<meta name="Keywords" content="{{ personal.FULLNAME }}, {{ personal.SLUG }}, {{ project.NAME }}, {{ project.KEYWORDS | join(sep=", ") }}"/>
	</head>
	<body>
		<h1>Welcome to {{ personal.FULLNAME }}'s github web site</h1>

		<h2>Here are some of my projects at github:</h2>
		<ul>
			<li><a href="https://veltzer.github.io/demos-linux">demos-linux</a></li>
			<li><a href="https://veltzer.github.io/fastlog">fastlog</a></li>
			<li><a href="https://veltzer.github.io/jschess">jschess</a></li>
			<li><a href="https://veltzer.github.io/openbook">openbook</a></li>
			<li><a href="https://veltzer.github.io/riddling">riddling</a></li>
			<li><a href="https://veltzer.github.io/java-keynote">keynote</a></li>
			<li><a href="https://veltzer.github.io/slides">slides</a></li>
			<li><a href="https://veltzer.github.io/templar">templar</a></li>
			<li><a href="https://veltzer.github.io/pdmt">pdmt</a></li>
			<li><a href="https://veltzer.github.io/scheduler">scheduler</a></li>
		</ul>
		<p>
			Copyright {{ personal.FULLNAME }} © {{ copyright_years() }}
			<a href="mailto:{{ personal.EMAIL }}">{{ personal.EMAIL }}</a>
		</p>
	</body>
</html>
